# HTTP 配置
api:
  bind-address: 0.0.0.0
  bind-port: 9099
# RESTful 服务配置
server:
  mode: debug # server mode: release, debug, test，默认 release
  healthz: true # 是否开启健康检查，如果开启会安装 /healthz 路由，默认 true
  middlewares: recovery,logger,secure,nocache,cors,dump # 加载的 gin 中间件列表，多个中间件，逗号(,)隔开
log:
  formatter: text
  time-formatter: "2006-01-02 15:05:06.000"
  level: debug
